<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post">
        Desenvolvedora: <input type="text" name="desenvolvedora" placeholder="Digite a Desenvolvedora">
        Número Serial: <input type="number" name="numeroserial" placeholder="Número Serial">
        <input type="submit" value="Entrar">
    </form>
    <h2><%=msg%></h2>
</body>
</html>